.node{
    width: 12px;
    height: 12px;
    outline: 1px solid  rgb(105, 60, 60);
    display: inline-block;
}

.node-finish{
    background-color: red;
}

.node-start{
    background-color: green;
}
